@{
    ViewData["Title"] = "Home Page";
}
<section class="slick-slideshow">
  <div class="slick-custom">
    <img src="~/images/banner2.jpeg" class="img-fluid" alt="">
    <div class="slick-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-10">
            <h1 class="slick-title"> ULTIMATE SALE </h1>
            <p class="lead text-white mt-lg-3 mb-lg-5"> NEW COLLECTION </p>
            @* # TODO: go to product pages *@
            <a href='products.html'>
              <button type="button" class="btn custom-btn btn-block btn-lg">
                Shop Now
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>