@{
  ViewData["Title"] = "Privacy Policy";
}
<article class="site-header section-padding d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">

      <div class="col-lg-10 col-12">
        <h1>
          <span class="d-block text-primary">Symphonia Fashion</span>
          <span class="d-block text-dark">Privacy and Refund policies</span>
        </h1>
      </div>
    </div>
  </div>
</article>

<section class="faq section-padding">
  <div class="container">
    <div class="row">

      <div class="col-lg-10 col-12">
        <h2>Terms of Service (ToS)</h2>

        <div class="accordion" id="accordionGeneral">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordionGeneralOne" aria-expanded="true" aria-controls="accordionGeneralOne">
                Acceptance of Terms
              </button>
            </h2>

            <div id="accordionGeneralOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#accordionGeneral">

              <div class="accordion-body">
                <p class="large-paragraph">By accessing or using <strong>Symphonia
                    Fashion's</strong> website or services, you agree to be bound by these
                  Terms of Service. If you do not agree with any part of these terms, you may
                  not access or use our services.</p>

                <p class="large-paragraph">Our services are provided for personal,
                  non-commercial use only. You agree not to use our services for any unlawful
                  or prohibited purpose.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordionGeneralTwo" aria-expanded="false" aria-controls="accordionGeneralTwo">
                Privacy
              </button>
            </h2>

            <div id="accordionGeneralTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionGeneral">

              <div class="accordion-body">
                <p class="large-paragraph">We respect your privacy and handle your personal
                  information in accordance with our Privacy Policy. By using our services,
                  you consent to the collection, use, and sharing of your information as
                  described in our Privacy Policy.</p>
                <p class="large-paragraph"><strong>Links to Third-Party Sites:</strong> Our
                  website may contain links to third-party websites that are not owned or
                  controlled by Symphonia Fashion. We are not responsible for the content or
                  privacy practices of these websites and encourage you to review their terms
                  of service and privacy policies.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordionGeneralThree" aria-expanded="false" aria-controls="accordionGeneralThree">
                Limitation of Liability
              </button>
            </h2>

            <div id="accordionGeneralThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionGeneral">

              <div class="accordion-body">
                <p class="large-paragraph">In no event shall Symphonia Fashion be liable for any
                  direct, indirect, incidental, special, or consequential damages arising out
                  of or in any way connected with the use of our services or inability to use
                  our services.</p>
                <p class="large-paragraph">Symphonia Fashion reserves the right to modify or
                  replace these Terms of Service at any time. Any changes will be effective
                  immediately upon posting on our website. Your continued use of our services
                  after any changes constitutes acceptance of the modified terms</p>
              </div>
            </div>
          </div>

        </div>

        <h2 class="mt-5">Refund Policy</h2>

        <div class="accordion" id="accordionProduct">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordionProductOne" aria-expanded="true" aria-controls="accordionProductOne">
                Returns
              </button>
            </h2>

            <div id="accordionProductOne" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionProduct">

              <div class="accordion-body">
                <p class="large-paragraph"><strong>We accept returns of unworn, unwashed, and
                    undamaged items within 3 days of purchase. To initiate a return, please
                    contact us at our website to request a return authorization.</p>

                <p class="large-paragraph">Upon receipt and inspection of returned items, we
                  will issue a refund to the original method of payment, excluding shipping
                  costs. Please allow [number of days] days for the refund to be processed.
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordionProductTwo" aria-expanded="false" aria-controls="accordionProductTwo">
                Refund Exceptions
              </button>
            </h2>

            <div id="accordionProductTwo" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionProduct">

              <div class="accordion-body">
                <p class="large-paragraph"> We reserve the right to refuse refunds for items
                  that do not meet our return criteria or are returned after the specified
                  return period.</p>
                <p class="large-paragraph"><strong>Policy Changes:</strong> We reserve the right
                  to update or modify our refund policy at any time. Any changes will be
                  effective immediately upon posting on our website.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordionProductTwo" aria-expanded="false" aria-controls="accordionProductTwo">
                Damaged or Defective Items
              </button>
            </h2>

            <div id="accordionProductTwo" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionProduct">

              <div class="accordion-body">
                <p class="large-paragraph">If you receive a damaged or defective item, please
                  contact us immediately at our website for assistance. We will work with you
                  to resolve the issue as quickly as possible.</p>
                <p class="large-paragraph">Sale Items: Sale items are final sale and cannot be
                  returned or refunded unless they are damaged or defective upon receipt.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</section>

<section class="front-product">
  <div class="container-fluid p-0">
    <div class="row align-items-center">

      <div class="col-lg-6 col-12">
        <img src="~/images/retail-shop-owner-mask-social-distancing-shopping.jpg" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 col-12">
        <div class="px-5 py-5 py-lg-0">

          <h2 class="mb-4">SYMPHONIA commitment</h2>

          <p class="lead mb-4">And let's not forget about our commitment to quality and
            sustainability. We source from ethical brands and designers who prioritize craftsmanship
            and environmental responsibility. Because looking good should feel good too!</p>

          <a href="products.html" class="custom-link">
            Explore Products
            <i class="bi-arrow-right ms-2"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="col-lg-10 col-12 mt-5 ms-auto mx-auto">
  <div class="row">
    <div class="col-6 border-end contact-info">
      <h6 class="mb-3">High Quality</h6>

      <a href="products.html" class="custom-link">
        crafted from top materials
        <i class="bi-arrow-right ms-2"></i>
      </a>
    </div>

    <div class="col-6 contact-info">
      <h6 class="mb-3">Warranty Protection</h6>

      <a href="products.html" class="custom-link">
        Over 2 years
        <i class="bi-arrow-right ms-2"></i>
      </a>
    </div>

    <div class="col-6 border-top border-end contact-info">
      <h6 class="mb-3">Free Shipping</h6>

      <a href="products.html" class="custom-link">
        Oder over 150$
        <i class="bi-arrow-right ms-2"></i>
      </a>
    </div>

    <div class="col-6 border-top contact-info">
      <h6 class="mb-3">Our Socials Support</h6>

      <ul class="social-icon">

        <li><a href="#" class="social-icon-link bi-messenger"></a></li>

        <li><a href="#" class="social-icon-link bi-youtube"></a></li>

        <li><a href="#" class="social-icon-link bi-instagram"></a></li>

        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
      </ul>
    </div>
  </div>
</div>
