@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<section class="logout-container">
  <div class="logout-image">
    <img src="https://picsum.photos/600/800" alt="Login Image" style="max-height: 500px; width: auto;">
  </div>

  <div class="logout-form">
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl='@Url.Page("/", new { area = "" })' method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
  </div>
</section>
@section Styles {
  <style>
    /* Additional inline styles */
    body,
    html {
      padding-top: 80px;
      /* Adjusted to move content down vertically */
      margin-left: 25px;
    }

    /* Left Side */
    .logout-image {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 20px;
      /* Add spacing between image and form */
    }

    /* Right Side */
    .logout-container {
      display: flex;
      max-width: 5000px;
      /* Adjusted width */
      max-height: 5000px;
      /* Adjusted height */
      margin: auto;
    }

    .logout-form {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 60px;
    }
  </style>
}